@use "../../App/App.scss";
.playerRight {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.iconMore {
  @include App.btnCustom(
    30px,
    18px,
    var(--color-text-primary),
    hsla(0, 0%, 100%, 0.1)
  );
}
.playerVolume {
  border-right: 2px solid var(--color-alpha-bg);
  width: 130px;
  position: relative;
  display: flex;
  align-items: center;
}
.volumeCover {
  flex: 1;
  z-index: 5;
  height: 18px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;
  opacity: 0;
  will-change: opacity;
  -webkit-appearance: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  -webkit-tap-highlight-color: transparent;
  width: 90px;
  margin-right: 10px;

  &:hover ~ .volumeBar,
  &:hover ~ .volumeBar .bar {
    height: 5px;
  }
  &:hover ~ .volumeBar .bar::after {
    display: block;
  }
}
.volumeBar {
  position: absolute;
  right: 10px;
  width: 86px;
  height: 3px;
  background-color: var(--color-alpha-bg);
  border-radius: 999px;
  .bar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-track);
    height: 3px;
    width: 100%;
  }
  .bar::after {
    content: "";
    display: none;
    width: 10px;
    height: 10px;
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-track);
    border-radius: 50%;
  }
}

// tablet
@media (min-width: 740px) and (max-width: 1023px) {
  .playerVolume {
    position: relative;
  }
  .volumeCover,
  .volumeBar {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
  }
  .bar::after {
    display: block;
  }
  .playerVolume {
    width: auto;
  }
  .iconSmall {
    display: none;
  }
}

// tablet
@media (min-width: 740px) and (max-width: 1023px) {
  .playerVolume {
    position: relative;
  }
  .volumeCover,
  .volumeBar {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
  }
  .bar::after {
    display: block;
  }
  .playerVolume {
    width: auto;
  }
  .iconSmall {
    display: none;
  }
}
// phone
@media (max-width: 739px) {
  .playerRight {
    display: none;
  }
}
