@use "../../App/App.scss";
.slide {
  width: 95%;
  margin: auto;
  margin-top: 5rem;
}
.slideItem {
  .img {
    width: 90%;
    margin: auto;
    border-radius: 8px;
    cursor: pointer;
  }
}
// slider triangle
.container {
  margin-top: 6rem;
}
.wrapper {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 4rem;
}
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.heightS {
  height: 160px;
}
.inner {
  display: flex;
  align-items: center;
  position: absolute;
  transition: transform linear 0.5s;
}
.innerItem {
  position: relative;
  margin-right: 20px;
  width: 130px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  .img {
    width: 100%;
  }

  &:hover .img {
    filter: brightness(0.8);
  }
}
.innerLink {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  @include App.userSelect;
}

.controlPre {
  color: var(--color-text-third);
  background-color: var(--color-primary-bg);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  outline: none;
  border: none;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 5;
  transform: translateY(-50%);
  opacity: 0.8;

  &:hover {
    background-color: var(--color-item-hover);
  }
}
.activeBtn {
  opacity: 1 !important;
  background-color: #fafafa !important;
}
.controlNext {
  color: var(--color-text-third);
  background-color: var(--color-primary-bg);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  outline: none;
  border: none;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 5;
  transform: translateY(-50%);
  opacity: 0.8;

  &:hover {
    background-color: var(--color-item-hover);
  }
}

// slider circle
.content {
  display: flex;
  align-items: center;
  transition: transform linear 0.5s;
}
.cardContent {
  flex-shrink: 0;
  width: 120px;
  margin-right: 30px;
}
.topContent {
  width: 100%;
  height: 120px;
  position: relative;

  &:hover .imgContent {
    transform: scale(1.1);
  }
}
.imgContentCover {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.imgContent {
  width: 100%;
  border-radius: 50%;
  transition: transform linear 0.5s;
}
.imgCard {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &:hover .cover {
    display: flex;
  }
}
.cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
}
.iconBtn {
  font-size: 33px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgIconCover {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.imgIcon {
  width: 100%;
  border-radius: 50%;
}
.imgLiveCover {
  position: absolute;
  bottom: -10%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, 0);
}
.imgLive {
  border-radius: 5px;
}
.botContent {
  text-align: center;
  margin-top: 20px;
}
.title {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}
.des {
  color: #7a7480;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 0;
}
// square
.containerSquare {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: green;
  color: #fff;
  height: 20rem;
  transform: translate3d(10px, 0, -500px);
  transition: transform 2s linear;
  margin-bottom: 10px;
}
.slideItem {
}

// tablet
@media (min-width: 740px) and (max-width: 1023px) {
  // triangle
  .innerItem {
    width: 108px;
  }
}
// phone
@media (max-width: 739px) {
  .cardContent {
    width: 100px;
    margin: 0 10px;
  }
  .topContent {
    height: 100px;
  }
  .innerItem {
    width: 70px;
    margin: 10px;
    height: 110px;
  }
  .slide {
    width: 300%;
    margin-bottom: 5rem;
    margin-top: 2rem;
  }
  .controlPre,
  .controlNext {
    display: none;
  }
  .container {
    margin-top: 0;
  }
  .wrapper {
    margin-top: 2rem;
  }
  .content,
  .carousel {
    overflow: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 0;
    }
    &::-webkit-scrollbar-thumb {
      display: none;
      -webkit-border-radius: 10px;
      border-radius: 20px;
      background-color: #fafafa;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
  }
  .heightS {
    height: 110px;
  }
}
