.account {
  margin-left: 15px;
  position: relative;
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  -webkit-tab-highlight-color: transparent;

  &:hover > .note {
    display: flex;
  }
}
.accountIcon {
  font-size: 20px;
  height: 3.8rem;
  width: 3.8rem;
  background-color: var(--color-alpha-bg);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-secondary);

  &:hover {
    opacity: 0.8;
  }
}
.note {
  display: none;
  position: absolute;
  background-color: #333;
  border: 1px solid var(--color-border);
  color: #fff;
  top: 120%;
  width: 90px;
  left: 50%;
  margin-left: -45px;
  font-size: 10px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  padding: 2px 0;
  z-index: 2;

  &::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
  }
}
.accountImg {
  height: 3.8rem;
  width: 3.8rem;
  border-radius: 100%;

  &:hover {
    opacity: 0.8;
  }
}
// tablet
@media (min-width: 740px) and (max-width: 1023px) {
  .account {
    margin-left: 8px;
  }
  .accountIcon {
  }
}
// phone
@media (max-width: 739px) {
  .account {
    margin-left: 0;
  }
  .accountIcon {
    display: none;
  }
}
